@media print{
    .container{
        zoom: 0.68!important;
        margin: 0 20px!important;
    }
    @page {
        /*size: auto;*/
        size: portrait;
        margin: 0;
        /*margin: 0;*/
    }
    .contentContainer {
        background: url(./doveland_primary.png) no-repeat!important;
        background-size: 50%!important;
        background-position: center!important;
        width: 80%;
        height: 109%;
        z-index: 1;
        opacity: 0.2;
        bottom: -170px!important;
        left: 100px!important;
        position: absolute;
    }
    
}

.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@font-face {
    font-family: doveland;
    src: url(PassengerSans-Extrablack.ttf);
}

@font-face {
    font-family: creche;
    src: url(Parsi-Bold.ttf);
}

@font-face {
    font-family: international;
    src: url(cooper-black.ttf);
}



.contentContainer {
    background: url(./doveland_primary.png) no-repeat!important;
    background-size: 50%!important;
    background-position: center!important;
    width: 80%;
    height: 109%;
    z-index: 1;
    opacity: 0.2;
    bottom: -646px;
    left: 190px;
    position: absolute;
}
.create td{
    vertical-align: top!important;
}


.solve span{
    font-size: 110px;
    font-family: doveland;
    letter-spacing: -12.7px;
      text-shadow: 4px 4px 4px #999595;
}

.solve{
    position: relative;
    top: 1rem;
    font-weight: bolder;
    font-family: copper;
}
.wrap{
        display: flex;
    justify-content: center;
}
.logo{
    height: 272px;
    top: 4rem;
    width: 300px;
}
.intro-div{
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: relative;
}
.schools{
    justify-content: center;
    text-align: center;
}
.schools h4{
    font-weight: bold;
    font-size: 36px;
    background-color: #A32D33;
    width: fit-content;
    text-align: center;
    border-radius: 49px;
    color: #fff;
    position: relative;
    left: 4%;
    padding: 0 10px;
    font-family: international;
    margin: 0;
}

.schools p{
    font-size: 23px;
    letter-spacing: 2px;
    position: relative;
    top: -20px;
}

.schools h5{
    font-size: 21px;
    font-family: 'zurich';
    margin: 10px 0;
    font-family: creche;
    margin-right: -13px;
}

.schools h6{
    font-size: 27px;
    /* font-weight: 900; */
    position: relative;
    top: -14px;
    font-family: zurich;
    margin: 20px 0;
}
.schools h3{
        font-size: 32px;
        font-weight: 900;
        position: relative;
        top: -4px;
}
.schools h2 {
    font-size: 25px;
    font-weight: 700;
}

.firstbox {
    border: 2px solid black;
    border-collapse: collapse;
    font-weight: bold;
    line-height: 31px;
    width: 38%;
    margin-right: 75px;
}

.firstbox td {
    border: 2px;
}

.secondbox {
    border: 2px solid black;
    border-collapse: collapse;
    font-weight: bold;
    line-height: 31px;
    width: 38%;
    margin-right: 75px;
}

.secondbox td {
    border: 2px;
}

.thirdbox {
    border: 2px solid black;
    border-collapse: collapse;
    font-weight: bold;
    line-height: 31px;
    width: 38%;
}

.thirdbox td {
    border: 2px;
}

.flex {
    display: flex;
}

.row1 {
    border: 2px solid black;
    border-collapse: collapse;
    margin-top: 61px;
}

.row1 td {
    border: 2px solid black;
}

.row2 {
    border: 2px solid black;
    border-collapse: collapse;
    margin-top: 40px;
    text-align: center;
}

.row2 td {
    border: 2px solid black;
}


.secondrow {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin-top: 45px;
}

.secondrow td {
    border: 2px solid black;
}

.brand {
    display: flex;
    font-size: 50px;
}

.curvedborder {
    font-size: 30px;
    background-color: red; 
    color: white; 
    font-weight: bolder; 
    width: 397px; 
    margin-left: 576px; 
    border: 2px red;
}



